.Home{
   display: grid;
   
   justify-content: center;
   align-items: center;
}
.todos_input p{
    font-size: 16px;
    padding: 0.5rem 0;
}
.todos_input input{
padding: 0.5rem 0.5rem;
width: 100%;
}
.todos_input button{
    margin-top: 1rem;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
}
.todo_lists{
    margin-top: 2rem;
    border-top: 2px solid black;
    padding: 0 1rem;
    height: 24rem;
    overflow-y: scroll;
}
